#container {
    width: 30vw;
    height: 3vh;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

#bar {
    
    height: 100%;
    background-color: red;
    border-radius: 15px;
}